include ../sections/head/index.pug
body.container-xl
  include ../sections/header/index.pug
  main.main 
    include ../sections/price-range/index.pug
    include ../sections/result-info/index.pug
    include ../sections/drop-down-list/index.pug