@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@include lib.font('proximanova-regular');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s;
  font-family: 'proximanova-regular', sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }    
}

body {
  background-color: #171722;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

ul {
  padding-left: unset;
  list-style-type: none;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
  color: config.$colors-white;
}

html {
  scroll-behavior: smooth;
}

.container-xl {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding-top: 22px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo span {
  color: config.$colors-white;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.search {
  position: relative;

  &__input {
    width: 470px;
    padding: 12px 49px;
    border-radius: 12px;
    color: config.$colors-white;
    font-size: 16px;
    line-height: 135%;
    border: 1px solid #959595;
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
  }
}

/********бегунок*******/

.range {
  width: 225px;
  margin-top: 30px;

  &__slider {
    margin-top: 30px;

    #slider {
      height: 4px;
      border-radius: 3px;
      background-color: #30303D;
      border: none;

      .noUi-handle {
        border: none;
        border-radius: 50%;
        background: linear-gradient(193.42deg, #85D62D 23.76%, #6BAB2B 86.01%);
        box-shadow: 3px 5px 12px 0 #FFFFFF33 inset, 0 10px 27px 0 #1E1D2E4D;
        width: 18px;
        height: 18px;

        &::before,
        &::after {
          content: unset;
        }
      }

      .noUi-connect {
        background-color: #7ACB22;
        box-shadow: 0 3px 15px 0 #84D52C4F;
      }

      .noUi-tooltip {
        border: 0;
        border-radius: 3px;
        background-color: #30303D;
        color: config.$colors-white;
        font-size: 16px;
        line-height: 135%;
        bottom: 25px;
        display: block;
        text-align: center;
        padding: 2px 5px;

        &::before {
          content: '';
          position: absolute;
          width: 11px;
          height: 5px;
          background-image: url('/assets/media/polygon.svg');
          bottom: -5px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }

  &__inputs {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;

      input {
        max-width: 55px;
        width: 100%;
        text-align: center;
        border-radius: 3px;        
        background-color: #212129;
        border: 1px solid #606060;
        font-size: 14px;
        line-height: 135%;
        color: config.$colors-white;
        -moz-appearance: textfield;

        &:focus {
          outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
          -moz-appearance: textfield;
          margin: 0;
        }
      }
  }
}

/*****result*****/

.result-info {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  align-items: center;

  &__text {
    display: flex;
    align-items: center;
    gap: 5px;
    color: config.$colors-white;
    font-size: 16px;
    font-weight: 600;
    line-height: 135%;
  }
}

.badges {
  display: flex;
  align-items: center;
  gap: 10px;

  &__item {
    box-shadow: -5px -5px 16px 0px #8A8A8A17 inset;
    background-color: #297019;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 5px 8px;
    border-radius: 20px;
  }

  &__name {
    color: config.$colors-white;
    font-size: 12px;
    line-height: 135%;
  }

  &__btn {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url('/assets/media/close.svg') no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}

.drop-down-list {
  margin-top: 30px;
  border: 1px solid transparent;
  border-radius: 10px;  
  padding: 15px 22px 17px 15px;
  background-color: #353542;
  max-width: 245px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    inset: -3px;
    background: linear-gradient(174.36deg, rgba(132, 213, 44, 0.36) 11.39%, rgba(23, 23, 34, 0) 189.78%);
    border-radius: 10px;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    line-height: 135%;
    color: config.$colors-white;

    img {
      transform: rotate(180deg);
    }

    &.click {
      & ~.dropdown__list {
        display: flex;
      }

      img {
        transform: rotate(0deg);
      }
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__label {
    color: #959595;
    font-size: 16px;
    line-height: 147%;
  }

  &__checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid config.$colors-white;
    border-radius: 2px;
    opacity: 50%;
    cursor: pointer;

    &:checked {
      background:
        url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.15477 7.45034C3.99742 7.45022 3.84164 7.41898 3.69642 7.3584C3.55119 7.29783 3.41939 7.20913 3.30859 7.0974L1.04447 4.83328C0.930944 4.72271 0.840513 4.59068 0.77843 4.44487C0.716347 4.29906 0.68385 4.14237 0.682825 3.9839C0.681801 3.82542 0.712269 3.66832 0.772461 3.52172C0.832653 3.37512 0.92137 3.24194 1.03346 3.12991C1.14555 3.01788 1.27878 2.92923 1.42541 2.86911C1.57204 2.809 1.72916 2.77861 1.88763 2.77972C2.0461 2.78083 2.20278 2.81341 2.34856 2.87556C2.49433 2.93772 2.62631 3.02822 2.73683 3.14181L4.15477 4.56063L7.97359 0.741809C8.19801 0.517389 8.50239 0.391312 8.81977 0.391312C9.13714 0.391312 9.44152 0.517389 9.66594 0.741809C9.89036 0.966229 10.0164 1.27061 10.0164 1.58799C10.0164 1.90536 9.89036 2.20974 9.66594 2.43416L4.99741 7.09916C4.77398 7.32299 4.47102 7.44925 4.15477 7.45034Z' fill='white'/%3E%3C/svg%3E") center/contain no-repeat,
        linear-gradient(0deg, #84D52C, #84D52C),
        linear-gradient(266.56deg, rgba(107, 171, 43, 0.2) 0%, rgba(132, 213, 44, 0) 94.16%);
      box-shadow: 3px 5px 12px 0 #FFFFFF5C inset, 0 10px 27px 0 #1E1D2E4D;
      opacity: 1;
      border-color: transparent;

      & ~ .dropdown__label {
        color: config.$colors-white;
        font-weight: 600;
      }
    }

    &:hover {
      border-color: #84D52C;
      opacity: 1;
    }
  }
}