header.header 
    a(href="#").logo
        span Marketplace 
    form.search
        input(type="text" placeholder="Search").search__input
        button(type="submit").search__btn
            img(src="assets/media/search.svg", alt="search loop")