.range
    h2  Price Range

    .range__slider
        #slider
        .range__inputs 
            input(type="text" id="input-with-keypress-0")
            input(type="text" id="input-with-keypress-1")