.drop-down-list
    .dropdown 
        .dropdown__title 
            span Classification
            img(src="/assets/media/arrow_down.svg", alt="arrow")
        ul.dropdown__list 
            li.dropdown__item 
                input(type="checkbox" id="drop1-opt1" value="Vegetables").dropdown__checkbox   
                label(for="drop1-opt1").dropdown__label Vegetables
            li.dropdown__item 
                input(type="checkbox" id="drop1-opt2" value="Carbs").dropdown__checkbox   
                label(for="drop1-opt2").dropdown__label Carbs 
            li.dropdown__item 
                input(type="checkbox" id="drop1-opt3" value="Fats").dropdown__checkbox  
                label(for="drop1-opt3").dropdown__label Fats
 

    .dropdown 
        .dropdown__title 
            span Delivery Period
            img(src="assets/media/arrow_down.svg", alt="arrow")
        ul.dropdown__list 
            li.dropdown__item 
                input(type="checkbox" id="drop2-opt1" value="1h").dropdown__checkbox  
                label(for="drop2-opt1").dropdown__label 1h
   
            li.dropdown__item 
                input(type="checkbox" id="drop2-opt2" value="24h").dropdown__checkbox    
                label(for="drop2-opt2").dropdown__label 24h
 
            li.dropdown__item 
                input(type="checkbox" id="drop2-opt3" value="Today").dropdown__checkbox    
                label(for="drop2-opt3").dropdown__label Today

            li.dropdown__item 
                input(type="checkbox" id="drop2-opt4" value="Next Week").dropdown__checkbox    
                label(for="drop2-opt4").dropdown__label Next Week


    .dropdown 
        .dropdown__title 
            span Size
            img(src="assets/media/arrow_down.svg", alt="arrow")
        ul.dropdown__list 
            li.dropdown__item 
                input(type="checkbox" id="drop3-opt1" value="Huge").dropdown__checkbox   
                label(for="drop3-opt1").dropdown__label Huge
  
            li.dropdown__item 
                input(type="checkbox" id="drop3-opt2" value="Large").dropdown__checkbox  
                label(for="drop3-opt2").dropdown__label Large
   
            li.dropdown__item 
                input(type="checkbox" id="drop3-opt3" value="Meduim").dropdown__checkbox  
                label(for="drop3-opt3").dropdown__label Meduim

            li.dropdown__item 
                input(type="checkbox" id="drop3-opt4" value="Small").dropdown__checkbox  
                label(for="drop3-opt4").dropdown__label Small

            li.dropdown__item 
                input(type="checkbox" id="drop3-opt5" value="Tiny").dropdown__checkbox  
                label(for="drop3-opt5").dropdown__label Tiny